CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
# CONFIG_LIBCURL_FTP is not set
# CONFIG_LIBCURL_HTTP2 is not set
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_OPENSSL_ENGINE is not set
# CONFIG_OPENSSL_WITH_CHACHA_POLY1305 is not set
# CONFIG_OPENSSL_WITH_CMS is not set
# CONFIG_OPENSSL_WITH_ERROR_MESSAGES is not set
# CONFIG_OPENSSL_WITH_IDEA is not set
# CONFIG_OPENSSL_WITH_MDC2 is not set
# CONFIG_OPENSSL_WITH_PSK is not set
# CONFIG_OPENSSL_WITH_SEED is not set
# CONFIG_OPENSSL_WITH_SRP is not set
# CONFIG_OPENSSL_WITH_TLS13 is not set
# CONFIG_OPENSSL_WITH_WHIRLPOOL is not set
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-conf=y
# CONFIG_PACKAGE_libopenssl-legacy is not set
